<h1>マイページ</h1>

<h2>登録情報</h2>
<%= link_to "編集する", public_customers_edit_path %>




<h2>配送先</h2><%= link_to "一覧を見る", public_customers_edit_path %>

<h2>注文履歴</h2><%= link_to "一覧を見る", public_customers_edit_path %>
