<h2>商品一覧</h2>

    <% @items.each do |item| %>
    <td>
      <%= link_to public_item_path(item) do %>
        <%= item.name %>
      <% end %>
    </td>
    <td>
      <%= item.price %>
    </td>
    <% end %>